# SPDX-FileCopyrightText: 2025 Aaron White <w531t4@gmail.com>
# SPDX-License-Identifier: MIT
esphome:
    name: clangd
    # platformio_options:
    #   build_flags:
    #     - -I../../src
    #     - -I../../src/esphome
esp32:
    board: esp32dev
    framework:
        type: esp-idf

logger:

api:

ota:
    platform: esphome

wifi:
    ssid: "x"
    password: "12345678"

display:
  - platform: ssd1306_i2c
    model: "SSD1306 128x64"
    address: 0x3C

i2c:
  sda: GPIO21
  scl: GPIO22

http_request:

sensor:
  - platform: homeassistant
    entity_id: sensor.home_temperature_low_today
    id: temp_low
  - platform: homeassistant
    entity_id: sensor.home_temperature_max_today
    id: temp_high
  - platform: homeassistant
    entity_id: weather.forecast_home
    attribute: temperature
    id: temp_now
  - platform: homeassistant
    entity_id: sensor.available_updates_count
    id: ha_update_count
  - platform: homeassistant
    id: wan_tx
    internal: true
    name: "Wan TX"
    entity_id: sensor.mysensor_tx
  - platform: homeassistant
    id: wan_rx
    internal: true
    name: "Wan RX"
    entity_id: sensor.mysensor_rx

text_sensor:
  - platform: homeassistant
    id: dummy_ha_text
    entity_id: sensor.dummy
  - platform: homeassistant
    id: online_list_member_count
    internal: true
    entity_id: sensor.twitch_online_streamers_published_streamers
    attribute: count
    on_value:
     then:
       - lambda: |-
           ESP_LOGW("streamers_count", "enter count=%s", x.c_str());
  - platform: homeassistant
    id: chat_line3
    entity_id: sensor.twitch_chat_bridge
    attribute: line3
    internal: true
  - platform: homeassistant
    id: chat_channel
    entity_id: sensor.firetv_twitch_playback_channel
    internal: true
  - platform: homeassistant
    name: "Weather Forecast From Home Assistant"
    entity_id: weather.forecast_home
    id: weather
    internal: true
  - platform: homeassistant
    id: person1_now_playing
    entity_id: sensor.ps5_person1_playing_game
    internal: true
  - platform: homeassistant
    id: person2_now_playing
    entity_id: sensor.ps5_person2_playing_game
    internal: true

image:
  - file: "mdi:weather-sunny"
    id: dummy_img
    type: BINARY

font:
  - file: "gfonts://Roboto"
    id: font1
    size: 12
  - file:
      type: gfonts
      family: JetBrains Mono
    bpp: 2
    id: font_date_hourmin
    size: 35
  - file:
      type: gfonts
      family: JetBrains Mono
    bpp: 2
    id: font_date_secs
    size: 12

external_components:
  - source:
      type: local
      path: components

globals:
  - id: twitch_onlineimages_ready_indicator
    type: bool
    restore_value: no
    initial_value: "true"

online_image:
  - id: twitch_strip
    url: "http://localhost:5050/local/twitch/online_strip.bmp"
    format: bmp
    type: rgb
    buffer_size: 22000
    update_interval: never    # disable auto refresh
    on_download_finished:
      - lambda: |-
          id(twitch_onlineimages_ready_indicator) = true;

time:
  - platform: homeassistant
    id: homeassistant_time

display_layout:
  id: my_layout
  # Mirrors the widget initialization that used to live in the display lambda.
  # Each entry maps to a widget's InitArgs and registry priority/magnet settings.
  gap_x: 1
  right_edge_x: 768
  widgets:
    - type: twitch_icons
      name: twitchicons
      resource: twitch_icons
      priority: 250
      magnet: left
      icon_width: 32
      icon_height: 32
      max_icons: 6
      sources:
        image: twitch_strip
        count: online_list_member_count
        ready_flag: twitch_onlineimages_ready_indicator
    - type: twitch_chat
      name: twitch
      resource: twitch_chat
      priority: 120
      magnet: auto
      font: font1
      pixels_per_character: 6
      sources:
        row: chat_line3
        channel: chat_channel
    - type: pixel_motion
      name: motion
      resource: pixel_motion
      priority: 110
    - type: network_tput
      name: network
      resource: network
      priority: 100
      font: font1
      sources:
        rx: wan_rx
        tx: wan_tx
    - type: weather
      name: weather
      resource: weather
      priority: 90
      font: font1
      sources:
        value: weather
        time: homeassistant_time
    - type: psn
      name: psn
      resource: psn
      priority: 95
      font: font1
      sources:
        phil: person1_now_playing
        nick: person2_now_playing
    - type: temperatures
      name: temperatures
      resource: temperatures
      priority: 60
      font: font1
      sources:
        high: temp_high
        now: temp_now
        low: temp_low
    - type: date
      name: date
      resource: date
      priority: 55
      font: font1
      font2: font1
      sources:
        time: homeassistant_time
    - type: time
      name: time
      resource: time
      priority: 50
      font: font_date_hourmin
      font2: font_date_secs
      sources:
        time: homeassistant_time
    - type: ha_updates
      name: haupdates
      resource: haupdates
      priority: 20
      font: font1
      sources:
        value: ha_update_count
